     h1 {
            color:saddlebrown;
        }
        h4 {
            color:blue;
        }


        p  { 
        color:aqua
}
body {
    background-image: url("Kewl-images.gif");
}


@media (max-width:470px) {
    body {
        background-image: url(terraria%20.png)
    }
}
@media (max-width:870px) {
    body {
        background-image: url(Over.jpg)
            
    }
}