     h1 {
            color:saddlebrown;
        }
        h4 {
            color:blue;
        }
h4{
    background:beige; 
}

        p  { 
        color:antiquewhite
}
p{
    background-color:skyblue
}
h1{
   background-color:goldenrod;
}

body{
   background-color:lawngreen
}
@media (max-width:414px) {
    body {background-image: controller-xbox.png}
}